<h1 class="page-title">All Galleries</h1>
<div class="row">
	<% @user_galleries.each do |gallery| %>
	  <div class="col-md-3">
	    <h3 class="gallery-name"><%= gallery.name %><h3>
	    <%= image_tag gallery.preview_image.url(:original), :class => "img-responsive" %>
	  </div>
	<% end %>
</div>
<%= link_to 'Back', current_user, class: "btn btn-primary" %>


