<% provide(:title, "About") %>
<% provide(:desc, "Meet your photographer, Leah O’Connell, specializing in family, senior, and child portraiture for Winchester, VA and surrounding counties.") %>
<h1 class="page-title">About Me</h1>
<div class="row about-top-box">
	<div class="col-md-6">
		<p class="about-para">
			Hi, I’m Leah! If you really want to know a few things about me, you should probably 
			first know that <b>I am a bit sporadic</b>. I have gone through many “phases” of discovery 
			and will continue to do so, hopefully, as long as I live. I am not perfect. I just 
			try to get the <b>most I can out of life</b> and be a light to others along the way. There 
			are only a few things I know about myself that are certain: 
		</p>
		<ul>
			<li>I am a wife, daughter, sister, friend, and Christian</li>
			<li>I believe love is powerful and try to make it the center of everything I do.</li>
			<li>I (almost too) easily become invested in people with whom I connect and care about.</li>
			<li>
				In my life at some point, I’ve dreamed of being: a pop star, an equestrian, a dancer, 
				a painter, in the cast of Glee, able to paint my nails well, a teacher, someone’s 
				hero, and a mother. (Maybe some of these things could still come true someday…!)
		  </li>
			<li>Yoga is my mental medicine, as well as anything active outdoors, especially hiking and kayaking.</li>
			<li>I find odd amounts of joy from watching animated movies.</li>
			<li>
				I’m a sucker for eggs benedict, red wine, frozen yogurt, and s’mores from the campfire. 
				Otherwise, I could probably live off of cereal, fruit, and yogurt.
		  </li>
			<li>I believe not enough people play board games anymore.</li>
		</ul>
	</div>
	<div class="col-md-6">
		<%= image_tag "cutout.png", alt: "Leah O'Connell", class: "aboutme_cutout" %>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<p class="about-para">
			This is more than a job for me. It’s my <b>passion</b>, my hobby, my creative outlet, 
			my <b>way of spreading love</b>, an opportunity for personal growth, a means of expression, 
			and quite possibly my calling. I feel most alive with the camera in my hand and the 
			joy of others in front of my eyes. I do not know exactly what the future holds for 
			my life and my business, but I do know that I look to God to direct my decisions and 
			I try my best to listen. I do know that right now, there is nothing I want more than 
			to make <b>beautiful, life-lasting artwork</b> for you and your family, to play a part in 
			making your home a little warmer, and to provide my clients with the best care and 
			quality I can for a <b>memorable and worthwhile experience</b>. 
		</p>
	</div>
</div>
<%= image_tag "aboutme1.jpg", alt: "Leah O'Connell Collage", class: "aboutme1" %>
