<% provide(:title, "Information") %>
<div class="container">
	<h1 class="page-title">Information</h1>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 info">
	    <h2>Step One<i> - Pick a Date</i></h2>
	      <p>
	      	To get started all you have to do is <%= link_to "clik here", contact_path %> and send me
	      	a message with the date you have in mind. That's it!
	      </p>
	      <p>
	      	You will then be signed up for a free account if you have not already created one.
        </p>
        <p> 
        	There will be a lot of useful information for you to check out once you log in to include popular 
        	session locations, to simple tips to get the most out of your session.
        </p>
	    <h2>Step Two<i> - The Session</i></h2>
	      <p>
	      	This is the best part. All you have to do is be ready to have fun and experience what
          I believe all photo sessions should be like.
        </p>
	    <h2>Step Three<i> - Pick Your Favorites</i></h2>
	      <p>
	      	This will probably be the hardest part. But lucky for you I will help make this
          easy. Not to mention your free online gallery incase you want to purchase more 
          prints later in the future.
        </p>
        <p>
        	You pick your favorites and I'll prep them for the lab. I send all my pictures to 
        	a professional potography lab so you come out with top quality pictures that will last!
        </p>
	  </div>
	</div>
</div>
