<% provide(:title, "Rates & Raves") %>
<% provide(:desc, "Mini, Standard, and Premium session options plus multiple display collections available to make displaying your art unique and affordable.") %>
<h1 class="page-title">Rates & Raves</h1>
<div class="row">
	<div class="col-md-6 info-box">
		<h3>Mini</h3>
		<ul class="rates">
			<li>30 Minute Session</li>
			<li>Online gallery of 10 images*</li>
			<li>Accordion Book</li>
			<li class="price">$175</li>
		</ul>
		<h3>Standard</h3>
		<ul class="rates">
			<li>60 Minute Session</li>
			<li>Full online gallery of 25 images*</li>
			<li>Accordion Book</li>
			<li>Optional outfit change</li>
			<li>10% off all print collections</li>
			<li class="price">$225</li>
		</ul>
		<h3>Premium</h3>
		<ul class="rates">
			<li>Up to 2 hour session</li>
			<li>Full online gallery of 30 images*</li>
			<li>Accordion Book</li>
			<li>Optional outfit change</li>
			<li>Optional location change</li>
			<li>1 8x10 boutique frame</li>
			<li>20% off all print collections</li>
			<li class="price">$400</li>
		</ul>
	</div>
	<div class="col-md-6 info-box">
		<h3>See what others have to say!</h3>
		<ul class="raves">
			<li>
				"I absolutely love the pictures you took! You were flexible and 
				easy-going which really helped to put us at ease. I love the 
				location you suggested - it was the perfect mix between beach/ocean 
				& lush greens. It really meant a lot that you were able to capture 
				such a special time in our lives. It can be tough being so far away 
				from family & friends during special times like this pregnancy but 
				through your pictures they were able to share in our joy and it made 
				the distance not seem so far. It's so nice to have your pictures to 
				remember our pregnancy, we treasure them and are looking forward to 
				using your talents again in the future!"
			</li>
			<li class="name">~Blonnie</li>
			<li>
				"I can not express how happy I am with the pictures! You are talented 
				and have a great eye! Thank you so much for working with us and being 
				patient! I hope I will be able to use you next August for our homecoming 
				and again next year for pictures!"
			</li>
			<li class="name">~Jennifer</li>
			<li>
				"We had our pictures done with [Leah] not too long ago and we had a blast. 
				She was so nice and fun, my daughter LOVED her. I loved our pictures so 
				much I had a really hard time picking my favorites (which is a great 
				problem to have lol). She picked the most beautiful location and I highly 
				recommend her to anyone looking to get pics done."
			</li>
			<li class="name">~Amy</li>
		</ul>
	</div>
</div>