<% provide(:title, "The Process") %>
<h1 class="page-title">The Process</h1>
<div class="row">
	<div class="col-md-10 col-md-offset-1 info">
    <h2>Step One<sub class="one"> - Set a Date</sub></h2>
      <p>
      	To get started all you have to do is <%= link_to "click here", new_inquiry_path %> to send me a message with the date you have in mind and I’ll get back to you about all the details. 
      </p>
      <p style="padding-bottom: 1em;">
      	You’ll be signed up for a free membership account here on this website, if you haven’t already created one. It will give you access to a ton of useful information including styling tips, location suggestions, and even ideas about how to display your images once we’re done! 
      </p>
    <hr class="blog-hr" />
    <h2>Step Two<sub class="one"> - The Session</sub></h2>
      <p style="padding-bottom: 1em;">
      	This is the best part! All you need to do is come ready to have fun and experience what I believe all photo sessions should be like. 
      </p>
    <hr class="blog-hr" />
    <h2>Step Three<sub class="one"> - Choose your Favorites!</sub></h2>
      <p>
      	This will probably be the hardest part, but lucky for you, I’ll be there to help make it easier. You don’t have to worry about missing out on any of your photos because you’ll have your free online gallery to reference if you decide you want to purchase more prints in the future or just share the images digitally. The favorites that you choose are the ones we’ll incorporate into wall galleries, fine art pieces, albums, cards, and other products to display around the home. I fully enhance and retouch all your images and send your selections to a professional photography lab for printing. You will leave with top quality portraits that will last and bring smiles for decades to come.
      </p>
  </div>
</div>
