<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if current_user && current_user.admin? %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
