<% provide(:title, 'All users') %>
<div class="container">

	<h1 class="page-title">All users</h1>

	<ul class="all-users">
		<% @users.each do |u| %>
		  <li>
		  	<%= link_to u.email, u %>, 
		  	<%= link_to "View Galleries", user_user_gallery_path(u, @user_gallery) %>,
		    <%= link_to "Add Gallery", new_user_user_gallery_path(u, @user_gallery) %>
		  </li>
		  <hr />
		<% end %>
	</ul>

	<%= will_paginate @users, :page_links => false %>

</div>