<% provide(:title, "Display Your Art") %>
<h1 class="page-title">Display Your Art</h1>

<div class="coming-soon">
  <h2>Coming Soon!</h2>
</div>

<%= link_to "Back", toolkit_path, class: "btn btn-primary" %>