<% provide(:title, "Session Specials") %>
<h1 class="page-title">Session Specials</h1>
<h3 style="text-align:center;">Click to view prices</h3>

<div class="row art-collection">
	<div class="col-md-12" onclick="toggle_visibility('toggle1');">
		<h2 class="h2-1">Deluxe<br /><sub>Collections</sub></h2>
	</div>
  
  <div id="toggle1">
		<div class="col-md-6 border-on">
			<h3>Large Canvas</h3>
			<ul class="print-options">
				<li>1 20x30“ canvas gallery wrap</li>
				<li>2 12x12“ styrene mounted prints</li>
				<li>5 gift prints of choice</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$300</b> - save $65</li>
			  <li>Standard: <b>$270</b> - save $95</li>
			  <li>Premium <b>$240</b> - save $125</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Canvas Trio</h3>
			<ul class="print-options">
				<li>1 16x20“ canvas gallery wrap</li>
				<li>2 11x14“ canvas gallery wraps</li>
				<li>5 gift prints of choice</li>
			</ul>

			<ul class="price-options">
				<li>Mini: <b>$418</b> - save $123</li>
				<li>Standard: <b>$375</b> - save $166</li>
				<li>Premium: <b>$335</b> - save $206</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Large Float</h3>
			<ul class="print-options">
				<li>1 20x30“ lustre float wrap</li>
				<li>2 11x14“ floats</li>
				<li>5 gift prints of choice</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$316</b> - save $45</li>
				<li>Standard: <b>$285</b> - save $76</li>
				<li>Premium: <b>$253</b> - save $109</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Float Trio</h3>
			<ul class="print-options">
				<li>3 11x14“ floats</li>
				<li>5 gift prints of choice</li>
			</ul>

			<ul class="price-options">
				<li>Mini: <b>$298</b> - save $23</li>
				<li>Standard: <b>$268</b> - save $53</li>
				<li>Premium: <b>$239</b> - save $82</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Metal Trio 1</h3>
			<ul class="print-options">
				<li>1 16x20“ metal on gatorboard</li>
				<li>2 12x12“ metals on gatorboard</li>
				<li>5 gift prints of choice</li>
			</ul>

			<ul class="price-options">
				<li>Mini: <b>$240</b> - save $45</li>
				<li>Standard: <b>$216</b> - save $69</li>
				<li>Premium: <b>$192</b> - save $93</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Metal Trio 2</h3>
			<ul class="print-options">
				<li>3 12x12“ metals on gatorboard</li>
				<li>5 gift prints of choice</li>
			</ul>

			<ul class="price-options">
				<li>Mini: <b>$255</b> - save $42</li>
				<li>Standard: <b>$230</b> - save $67</li>
				<li>Premium <b>$204</b> - save $93</li>
			</ul>
		</div>

	</div>
</div>

<div class="row art-collection">
	<div class="col-md-12">
		<h2 class="h2-2" onclick="toggle_visibility('toggle2');">Print<br /><sub>Collections</sub></h2>
	</div>

  <div id="toggle2">
		<div class="col-md-6 border-on">
			<h3>Classic</h3>
			<ul class="print-options">
				<li>3 8x10“</li>
				<li>4 5x7“</li>
				<li>4 4x6“</li>
				<li>1 11x14“ matted and framed (eco)</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$118</b> - save $71</li>
			  <li>Standard: <b>$106</b> - save $83</li>
			  <li>Premium <b>$95</b> - save $88</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Square</h3>
			<ul class="print-options">
				<li>2 8x10“</li>
				<li>4 5x7“</li>
				<li>4 12x12“ mounted</li>
				<li>1 20x30“ matted and framed (eco)</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$273</b> - save $85</li>
			  <li>Standard: <b>$246</b> - save $112</li>
			  <li>Premium <b>$218</b> - save $140</li>
			</ul>
		</div>
		
		<div class="col-md-6 border-on">
			<h3>Spread the Love 1</h3>
			<ul class="print-options">
				<li>20 Wallets</li>
				<li>4 4x6“</li>
				<li>1 8x10“</li>
				<li>1 8x10“ Sweet Frame</li>
				<li>2 Accordion Books</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$180</b> - save $62</li>
			  <li>Standard: <b>$162</b> - save $80</li>
			  <li>Premium <b>$144</b> - save $98</li>
			</ul>
		</div>

		<div class="col-md-6 border-on">
			<h3>Spread the Love 2</h3>
			<ul class="print-options">
				<li>40 Ann. Cards</li>
				<li>4 5x7“</li>
				<li>1 11x14“</li>
				<li>1 11x14“ Sweet Frame</li>
				<li>2 Accordion Books</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$255</b> - save $42</li>
			  <li>Standard: <b>$230</b> - save $67</li>
			  <li>Premium <b>$204</b> - save $93</li>
			</ul>
		</div>

		<div class="col-md-6 border-on col-md-offset-3">
			<h3>Trio</h3>
			<ul class="print-options">
				<li>3 11x14“</li>
				<li>3 11x14“ Eco Frames w/ Single Matting</li>
			</ul>	

			<ul class="price-options">
				<li>Mini: <b>$298</b> - save $23</li>
			  <li>Standard: <b>$268</b> - save $53</li>
			  <li>Premium <b>$239</b> - save $82</li>
			</ul>
		</div>
	</div>

</div>

<div class="row art-collection">
	<div class="col-md-12">
		<h2 class="h2-3" onclick="toggle_visibility('toggle3');">Deluxe<br /><sub>Prints</sub></h2>
	</div>
  
  <div id="toggle3">
	  <div class="col-md-4 deluxe-print">
	  	<h3>Gallery Canvas Wraps</h3>
	  	<ul>
	  		<li>10x10“ | $102</li>
	  		<li>11x14“ | $119</li>
	  		<li>12x12“ | $117</li>
	  		<li>16x20“ | $168</li>
	  		<li>20x30“ | $243</li>
	  	</ul>
	  </div>
	  <div class="col-md-4 deluxe-print">
	  	<h3>Metal Prints</h3>
	  	<ul>
	  		<li>10x10“ | $102</li>
	  		<li>11x14“ | $119</li>
	  		<li>12x12“ | $117</li>
	  		<li>16x20“ | $168</li>
	  		<li>20x30“ | $243</li>
	  	</ul>
	  </div>
	  <div class="col-md-4 deluxe-print">
	  	<h3>Lustre Float Wraps</h3>
	  	<ul>
	  		<li>10x10“ | $102</li>
	  		<li>11x14“ | $119</li>
	  		<li>12x12“ | $117</li>
	  		<li>16x20“ | $168</li>
	  		<li>20x30“ | $243</li>
	  	</ul>
	  </div>
	</div>
</div>

<div class="row art-collection">
	<div class="col-md-12">
		<h2 class="h2-4" onclick="toggle_visibility('toggle4');">Framing<br /><sub>~</sub></h2>
	</div>
  
  <div id="toggle4">
	  <div class="col-md-4 deluxe-print">
	  	<h3>Eco Frames</h3>
	  	<ul>
	  		<li>8x10“ | $61</li>
	  		<li>11x14“ | $70</li>
	  		<li>16x20“ | $99</li>
	  		<li>20x30“ | $130</li>
	  	</ul>
	  </div>
	  <div class="col-md-4 deluxe-print">
	  	<h3>Eco Matting</h3>
	  	<ul>
	  		<li>8x10“ | $16</li>
	  		<li>11x14“ | $22</li>
	  		<li>16x20“ | $28</li>
	  		<li>20x30“ | $32</li>
	  	</ul>
	  </div>
	  <div class="col-md-4 deluxe-print">
	  	<h3>Boutique Frames</h3>
	  	<ul>
	  		<li>8x10“ | $78</li>
	  		<li>11x14“ | $124</li>
	  		<li>16x20“ | $191</li>
	  		<li style="color: gray;">.</li>
	  	</ul>
	  </div>
	</div>
</div>

<div class="row art-collection">
	<div class="col-md-12">
		<h2 class="h2-5" onclick="toggle_visibility('toggle5');">À la carte<br /><sub>MISC.</sub></h2>
	</div>
  
  <div id="toggle5">
	  <div class="row">
	  	<h3>Prints</h3>
		  <div class="col-md-6 a-la-carte-prints">
		  	<ul>
		  		<li>Wallets | $8</li>
		  		<li>4x6“ | $8</li>
		  		<li>5x7“ | $12</li>
		  		<li>8x10“ | $12</li>
		  		<li>10x13“ | $15</li>
		  	</ul>
		  </div>
		  <div class="col-md-6 a-la-carte-prints">
		  	<ul>
		  		<li>10x30“ | $34</li>
		  		<li>11x14“ | $15</li>
		  		<li>12x12“ | $15</li>
		  		<li>16x20“ | $34</li>
		  		<li>20x30“ | $50</li>
		  	</ul>
		  </div>
		</div>

	  <div class="col-md-6 a-la-carte-prints">
	  	<h3>Styrene Mount</h3>
	  	<ul>
	  		<li>8x10“ | $10</li>
	  		<li>10x13“ | $15</li>
	  		<li>11x14“ | $15</li>
	  		<li>12x12“ | $16</li>
	  		<li>16x20“ | $25</li>
	  		<li>20x30“ | $43</li>
	  	</ul>
	  </div>
	  <div class="col-md-6 a-la-carte-prints">
	  	<h3>Other Goodies</h3>
	  	<ul>
	  		<li>Accordian | 4x8“ | $40</li>
	  		<li>Elegant Edge Cards (25) | 5x7“ | $43</li>
	  		<li>Announcement Cards (20) | 4x8“ | $15</li>
	  		<li style="color: gray;">.</li>
	  		<li style="color: gray;">.</li>
	  		<li style="color: gray;">.</li>
	  	</ul>
	  </div>
	</div>
	
</div>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>