<% provide(:title, "Toolkit") %>
<h1 class="page-title">Toolkit</h1>	

<h2><a href="#">Style Guide</a></h2>
<h2><a href="#">Your Perfect Location</a></h2>
<h2><a href="#">Displaying Your Art</a></h2>
