<% provide(:title, "Toolkit") %>
<h1 class="page-title">Toolkit</h1>	
<div class="row">
  <div class="col-md-4 tool-kit-header">
    <h2><%= link_to "Style Guide", style_path %></h2>
  </div>
  <div class="col-md-4 tool-kit-header">
    <h2><%= link_to "Your Perfect Location", locations_path %></h2>
  </div>
  <div class="col-md-4 tool-kit-header">
    <h2><%= link_to "Displaying Your Art", display_your_art_path %></h2>
  </div>
</div>