<% provide(:title, "Toolkit") %>
<h1 class="page-title">Toolkit</h1>	
<div class="row">
  <div class="col-sm-4 tool-kit-header">
    <%= link_to image_tag("styleguide.jpg", class: "img-responsive"), style_path %>
  </div>
  <div class="col-sm-4 tool-kit-header">
    <%= link_to image_tag("displayingart.jpg", class: "img-responsive toolkit-img"), display_your_art_path %>
  </div>
  <div class="col-sm-4 tool-kit-header">
    <%= link_to image_tag("locations.jpg", class: "img-responsive"), locations_path %>
  </div>
</div>