<% provide(:title, "Blog") %>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
	    <h1 class="blog-title">L.O. Photography</h1>
    </div>
  </div>

	<div class="row">
		<div class="col-lg-8">
	    <%= render 'posts/post' %>
	  </div>
	  
	  <div class="col-lg-4">
          <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /well -->
          <div class="well">
            <h4>Blog Categories: <%= link_to "All", posts_path %></h4>
            <div class="row">
              <div class="col-lg-12">
                <div id="tag_cloud">
                  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
                    <%= link_to "#{tag.name}, ", tag_path(tag.name), class: css_class %>
                  <% end %>
                </div>
              </div>
            </div>
          </div><!-- /well -->
          <div class="well">
            <h4>Side Widget Well</h4>
          </div><!-- /well -->
        </div>
      </div>

	<%= will_paginate @posts %>
</div>	