<% provide(:title, "Blog") %>
<h1 class="blog-title">L.O. Photography</h1>

<div class="row">
	<div class="col-lg-8">
    <%= render 'posts/post' %>
  </div>
  <div class="col-lg-4">
    <div class="well">
      <h4>Blog Search</h4>
    </div>
  </div>
</div>

<%= will_paginate @posts %>