<div class="col-md-3">
  <div class="gallery_img">
    <%= link_to("#{image_tag gallery_image.image.url(:thumb), class: "img-responsive gallery_img"}".html_safe, gallery_image.image.url(:original)) %> 
    <%= pin_it_button :media => gallery_image.image.url(:original),
                      :description => "L.O. Photography: #{@gallery.name} - #{gallery_image.image_file_name}",
                      :url => gallery_image.image.url(:original),
                      :count_layout => 'vertical' %>
  </div>
  <% if current_user && current_user.admin? %>
    <div class="sed gallery-sed">
      <%= link_to 'Remove Image', [gallery_image.gallery, gallery_image],
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   :class => "btn btn-mini btn-danger img-del" %>
      
    </div>
  <% end %>
</div>  
