<div class="col-md-3">
  <div class="gallery_img">
    <%= image_tag gallery_image.image.url(:thumb), :class => "img-responsive" %> 
  </div>
  <% if current_user && current_user.admin? %>
    <div class="sed gallery-sed">
      <%= link_to 'Remove Image', [gallery_image.gallery, gallery_image],
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   :class => "btn btn-mini btn-danger img-del" %>
      
    </div>
  <% end %>
</div>  
