<% provide(:title, "#{@gallery.name}") %>
<h1 class="page-title"><%= @gallery.name %></h1>

<div class="row">
  <%= render @gallery.gallery_images %>
</div>
<% if current_user && current_user.admin? %>
  <%= render "gallery_images/form" %>
<% end %>

<%= link_to 'Back', galleries_path, class: "btn" %>