@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* *** Topography *** */
hr {
	margin: 0.4em auto;
	background-color: #010101;
	height:2px;
}

h1.page-title {
  text-align: center;
  margin-bottom: 1em;
}

/* *** Forms *** */

form {
  background-color: gray;
  padding: 20px;
}

div.form-wrap {
  padding: 1em;
  margin: 1em auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  h2 {
    color: #000;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.4em;
}
input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

h2.form-title {
  text-align: center;
}

/* *** Flash messages *** */

.notice {
color: white;
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 gray; 
background-color: #74B976;
border: 1px solid #2B862E;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert {
  color: white;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 gray; 
  background-color: #fb4848;
  border: 1px solid #cd1010;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* *** Miscellaneous *** */
// Show Edit Delete
div.sed {
  margin: 1em auto 4em auto;
  a {
    width: 5em;
    display: block;
    text-align: center;
    margin: 1em auto;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
