body { padding-top: 70px; }

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "always";
  src: asset-url('always.ttf');
}

@font-face {
  font-family: "lexo";
  src: asset-url('lexo.ttf');
}

/* *** Topography *** */
hr.header-hr {
	margin: 0.4em auto;
	background-color: #010101;
	height:2px;
}

hr {
  background-color: #E0E0E0;
  height: 1pt;
  margin: 1.5em auto;
}

h1.page-title {
  text-align: center;
  margin-bottom: 1em;
  font-family: lexo;
  font-size: 4em;
}

/* *** Forms *** */

form {
  background-color: gray;
  padding: 20px;
}

div.form-wrap {
  padding: 1em;
  margin: 1em auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  h2 {
    color: #000;
    font-family: always;
    font-size: 4em;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  font-family: always;
  font-size: 2em;
}
input {
  height: auto !important;
}

#errorExplanation {
  color: #fff ;
  ul {
    list-style: none;
    text-shadow: 1px 1px 1px #000;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

h2.form-title {
  text-align: center;
}

div.search-div {
  input {

  }
}

/* *** Flash messages *** */

.notice {
color: white;
padding: 8px 35px 8px 14px;
margin-bottom: 20px;
text-shadow: 0 1px 0 gray; 
background-color: #74B976;
border: 1px solid #2B862E;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert {
  color: white;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 gray; 
  background-color: #fb4848;
  border: 1px solid #cd1010;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* *** Miscellaneous *** */
// Show Edit Delete
div.sed {
  margin: 1em auto 4em auto;
  a {
    width: 10em;
    display: block;
    text-align: center;
    margin: 1em auto;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* *** MISC *** */

div.pagination {
  margin: 1em auto; 
  padding: 1em;
  display: table;
  border-radius: 2em;
  a {
    margin: auto 1em;
  }
  a.previous_page {
    font-size: 2em;

    display: inline-block;
    padding: 6px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;

    &:hover {
      color: #fff;
      background-color: #3276b1;
      border-color: #285e8e;
      text-decoration: none;
    }
  }
  a.next_page {
    font-size: 2em;

    display: inline-block;
    padding: 6px 18px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;

    &:hover {
      color: #fff;
      background-color: #3276b1;
      border-color: #285e8e;
      text-decoration: none;
    }
  }
  span {
    display: none;
  }
}

/* *** Media Queries *** */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-brand {
    padding-right: 1em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand {
    padding-right: 1em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
