// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.gallery-sed {
	a {
		margin-left: 0;
		width: 10em;
	}
}

/* *** Media Queries *** */

@media (max-width: 400px) {
	div.gallery-sed {
	a {
		margin: 1em auto;
	}
 }
 h2.gallery-title {
 	text-align: center;
 }
}

@media (min-width: 401px) and (max-width: 767px) {
  div.gallery-sed {
	a {
		margin: 1em auto;
	}
 }
 h2.gallery-title {
 	text-align: center;
 }
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}