// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* *** Index *** */

h1.blog-title {
	text-align: center;
  font-size: 2.4em;
  margin: 0.2em auto 2em auto;
}

h2.post-title {
  margin: 0.2em auto;
  padding: 0;
  font-size: 3.4em;  
  font-family: lexo;
}
h3.post-time {
  font-size: 2em;
  margin: 0 auto 1em auto;
  padding: 0 auto;
  font-family: always;
  font-weight: bolder;
}

img.post-img {
  margin: 0 auto;
}

div.markdown {
  margin: 1em auto;
	p {
    text-indent: 1.5em;
	}

	p + p {
    text-indent: 1.5em;
  }

	blockquote {
  background: gray;
  border-left: 10px solid black;
  margin: 1em auto;
  padding: 0.4em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 1em;
  width:75%;

    p {
    	font-size: 1.2em;
    	line-height: 1em;
    	padding: 0;
    	margin: 0;
    	text-indent: 2em;
    }
  }
  blockquote:before {
    color: white;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote:after {
    color: white;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 95%;
    vertical-align: -0.4em;
  }
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 1em; }
  .m { font-size: 1.4em; }
  .l { font-size: 1.8em; }
  a {
    margin: 0.2em auto;
  }
}

a.all-link {
  font-size: 1.6em;
  text-decoration: underline;
}

ul.newest-articles {
  list-style: none;
  padding: 0em;
  li {
    font-size: 1.4em;
    margin: 0.8em auto;
    text-align: center;
  }
}

/* *** Media Queries *** */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  ul.newest-articles {
    li {
      font-size: 1.4em;
      margin: 0.2em auto;
      text-align: left;
    }
  }
  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .well {
    h3 {
      font-size: 1.4em;
    }
  }
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
