// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* *** Index *** */

#sidebar-wrapper {
  
}

h1.blog-title {
	text-align: center;
  font-size: 2.4em;
  margin: 0.2em auto 2em auto;
}

.post-title-div {
  display: table;
  margin: 0 auto auto 1em;
  padding: 0;
  div {
    float: left;
  }
}

h2.post-title {
  margin: 1.4em auto auto 1em;
  padding: 0;
  font-size: 1.2em;  
  font-family: book;
  &:first-letter {
    font-family: freebooter;
    font-size: 2em; 
  }
}
.date-block {
  font-family: book;
  margin-top: 0.7em;
  p.day {
    font-size: 1.5em;
    padding-top:0.4em;
    line-height: 0.2em;
    color: #000;
  }
  p.month {
    font-size: 1.2em;
    text-align: center;
    line-height: 0.3em;
    text-transform: uppercase;
    color: #D4C1B4;
  }
  p.year {
    font-size: 1.4em;
    line-height: 0.4em;
    letter-spacing: -2px;
    color: #77B0B1;
  }
}

hr.blog-hr {
  margin: 0em auto -0.5em auto;
  height: 30px;
  border-style: solid;
  border-color: #D4C1B4;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  background-color: #fff;
}
.blog-hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: #D4C1B4;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

img.post-img {
  margin: 0 auto;
}

div.markdown {
  margin: 1em auto;
	p {
    text-indent: 1.5em;
	}

	p + p {
    text-indent: 1.5em;
  }

	blockquote {
  background: gray;
  border-left: 10px solid black;
  margin: 1em auto;
  padding: 0.4em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 1em;
  width:75%;

    p {
    	font-size: 1.2em;
    	line-height: 1em;
    	padding: 0;
    	margin: 0;
    	text-indent: 2em;
    }
  }
  blockquote:before {
    color: white;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote:after {
    color: white;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 95%;
    vertical-align: -0.4em;
  }
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 1em; }
  .m { font-size: 1.4em; }
  .l { font-size: 1.8em; }
  a {
    margin: 0.4em 0.8em;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

a.all-link {
  font-size: 1.6em;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

ul.article-list {
  list-style: none;
  padding: 0em;
  li {
    font-size: 1.4em;
    margin: 0.8em auto;
    text-align: center;
    a {
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.well {
  background-color: #fff;
  border: none;
  box-shadow: none;
  margin: 0;  
  h3 { 
    font-family: book;
    font-size: 2em; 
    text-align: center;
    margin: 0;
  }
  a {
    font-family: book;
    color: #77B0B1;
  }
}

/* *** Media Queries *** */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .post-sidebar {

  }
  .well {
    margin: 2em auto;
    form {
      padding-top: 5px;
      input {
        
      }     
    }
  }

  ul.article-list {
    li {
      font-size: 1.4em;
      margin: 0.2em auto;
      text-align: left;
    }
  }

  h2.post-title {
    margin: 0.6em auto auto 1em;
    padding: 0;
    font-size: 2em;  
    font-family: book;
  }
 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
   #sidebar-wrapper {
    margin-right: -250px;
    top: 250px;
    right: 250px;
    width: 250px;
    position: absolute;
    z-index: 1000;
    transition: all 0.4s ease 0s;
  }

  ul.article-list {
    padding: 0em;
    li {
      margin: 0.8em auto;
      font-size: 1.2em;
      &:before {
        content: "•  ";
        color: #77B0B1;
      }
      a {
        &:hover {
          text-decoration: none;
          color: black;
          text-align: left;
        }
      }
    }
  }

  .well {
    &:first-child {
      
    }
    margin: 0;
    h3 {
      font-size: 1.2em;
    }
    input { height: 10px;}
  }

  #tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.6em; }
  a {
   
  }
}
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #sidebar-wrapper {
    
  }
  
}
