// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
	h2 {
		font-family: freebooter;
		font-size: 2em;
		text-align: center;
		margin: 1em auto;
		color: #000;
	}
  .one {
    font-family: book;
    font-size: 0.6em;
    color: #D4C1B4;
	}
	p {
		font-family: book;
	}
}

.aboutme2 {
	width: 100%;
}
.aboutme1 {
	float: left;
	width: 100%;
	position: absolute;
	left:0;
}
.about-top-box {
	margin: 2em auto;
}
.about-para {
	b {
		color: #77B0B1;
	}
}
/* *** Media Queries *** */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.info {
		h2 {
			font-family: freebooter;
			font-size: 3em;
			text-align: center;
			margin: 1em auto;
		}
		sub {
	    font-family: book;
	    font-size: 1em;
		}
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .info {
		h2 {
			font-family: freebooter;
			font-size: 4em;
			text-align: center;
			margin: 1em auto;
		}
		sub {
	    font-family: book;
	    font-size: 1em;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}