// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.cycle-slideshow {
	width: 75%;
	margin: 1em auto;
	img {
		max-width: 100%;
		box-shadow: 10px 10px 20px #888888;
	}
}
img#circles {
	z-index: -1;
}
.info {
	h2 {
		font-family: freebooter;
		font-size: 2em;
		text-align: center;
		margin: 1em auto;
		color: #000;
	}
  .one {
    font-family: book;
    font-size: 0.6em;
    color: #D4C1B4;
	}
	p {
		font-family: book;
	}
}

.aboutme_cutout {
	width: 80%;
	margin: 0 auto;
	display: block;
	background-color: #77B0B1;
	border-radius: 50%;
}
.aboutme1 {
	float: left;
	width: 100%;
	position: absolute;
	left:0;
}
.about-top-box {
	margin: 2em auto;
}
.about-para {
	b {
		color: #77B0B1;
	}
}

div.info-box {
	border: 10px solid #D4C1B4;
	width:90%;
	margin: 1em auto;
	display: block;
	h3 {
		font-size: 2.5em;
		font-family: freebooter;
		text-align: center;
		color: #77B0B1;
	}
	ul.rates {
		font-family: book;
		margin: 2em auto 1em 10%;
		list-style: none;
		font-weight: auto;
    font-size: 1em;
		li.price {
			font-weight: bolder;
			font-size: 1.2em;
		}
	}
	ul.raves {
		list-style: none;
		li {
			margin: 1em auto;
		}
		.name {
			font-weight: bolder;
			margin-bottom: 2em;
		}
	} 
}
/* *** Media Queries *** */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.info {
		h2 {
			font-family: freebooter;
			font-size: 3em;
			text-align: center;
			margin: 1em auto;
		}
		sub {
	    font-family: book;
	    font-size: 1em;
		}
	}

	div#image_container {
		img {
		  &:empty {
	    
		  }
		}
	}

	div.info-box {
		width: 80%;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .info {
		h2 {
			font-family: freebooter;
			font-size: 4em;
			text-align: center;
			margin: 1em auto;
		}
		sub {
	    font-family: book;
	    font-size: 1em;
		}
	}

	.aboutme2 {
	  margin-top: -2em;
  }

	div#image_container {
		img {
		  &:empty {
	      
		  }
		}
	}

	div.info-box {
		width: 48%;
		margin: auto 1%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}