<% provide(:title, "Contact Me") %>
<% provide(:desc, "Let's get in touch! Send me a message and i'll get back to you shortly.") %>
<div class="row">
  <div class="col-md-6">
    <div class="form-wrap">	
			<h2 class="form-title">Contact</h2>
      <%= render 'form', :inquiry => @inquiry %>
    </div>
  </div>
  <div class="col-md-6">
		<div class="form-wrap">
      <%= image_tag "contact.jpg", alt: "Test", class: "contact-img" %>
    </div>
	</div>
</div>