<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-wrap">	
			<h2 class="form-title">Contact</h2>
      <%= render 'form', :inquiry => @inquiry %>
    </div>
  </div>
</div>