<!-- <nav class="footer navbar navbar-default navbar-static-bottom" role="navigation">
  <div>
    <ul class="nav navbar-nav">
      <li><a>L.O. Photography &copy; 2012</a></li>
    </ul>
  </div>
</nav> -->