
<ul class="social-media">
	<li><div class="fb-like" data-href="https://lofirefly.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
  <li id="pin-it"><a data-pin-do="buttonFollow" href="http://www.pinterest.com/leahophoto">Firefly Photography</a></li>
  <li><a href="https://twitter.com/leahophoto" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @leahophoto</a></li>
</ul>
